<div class="dashboard-container">
  <div class="chart-container">
    <canvas baseChart
      [datasets]="chartData.datasets"
      [labels]="chartData.labels"
      [options]="chartOptions">
    </canvas>
  </div>

  <div class="leaderboard-container">
    <h3>Top 10 Users by CLV</h3>
    <ul>
      <li *ngFor="let user of chartData.labels; let i = index">
        <div class="position">{{ i + 1 }}</div>
        <span>{{ user }}</span>
        <span>{{ chartData.datasets[0].data[i] }}</span>
      </li>
    </ul>
  </div>
</div>
